

html {
  box-sizing: border-box;
  background: #fbfbfb;
  text-align: center;
}
 
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Lucida Grande, sans-serif;
    max-width: 700px; 
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 48px; 
    text-shadow: 3px 3px 3px rgba(125, 255, 162, 1);
    margin: 40px 0 5px 0;
    color: #7490d8;
    text-align: center;
}
 

form {
    position: relative;
    margin-top:40px;
}
 
    form input{
        width:100%;
        display: block;
        font-size: 16px;
        padding: 10px 10px;
        line-height: 1.5;
        margin: 0;
        border: 1px solid #bbb;
        /*box-shadow: 0 1px 3px rgba(0, 0, 0, .1) inset, 
                    0 2px 4px rgba(0, 0, 0, .1);*/
        border-radius: 3px;
    }
 
        form input:focus {
            border-color: #a7d3f5;
        }
 
    form button {
        text-decoration: none;
        background: #7490d8;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1.5;
        color: white;
        font-size: 16px;
        border-radius: 0 3px 3px 0;
        border: 0;
        outline: 0;
        text-align: center;
        -webkit-appearance: none;
        margin: 0;
        padding: 0 1em;
        font-family: 'Lucida', sans-serif;
    }
        form button:hover {
            cursor: pointer;
        }
 
        form button:disabled {
            opacity: .5;
        }

#search-results{
    margin-top:50px;
}